* {
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}


.Letra {
    display: inline-block;
    bottom: 0;
    margin-left: 20%;
    margin-right: 25%;

}

/*Estilização do menu*/

div #active::before{
    content: "";
    width: 100%;
    color: #0075f6;
    border-bottom: 1px solid #0075f6;
}

span {
    content: "";
    position: relative;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: #007bff;
    
}


#menu ul li {
    position: relative;
    display: inline-block;
    margin: 7px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bold;
}

#menu ul li a {
    padding: 5px 5px;
    display: inline-block;
    /* visual do link */
    color: black;
    text-decoration: none;
}

#menu ul li a::before{
    content: "";
    width: 0%;
    height: 2px;
    display: inline-block;
    background-color: #0075f6;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}



#menu a:hover::before{
    content: "";
    width: 100%;
    color: #0075f6;
   background-color: #0075f6;
}

#menu {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
}

/*Final da estilização do menu*/


/*Estilização da imagem*/

.container-bgc {
    margin-top: 30px;
    margin-left: 620px;
    width: 50%;
}

.bgc {
    width: 850px;
    height:700px;
}

.bgc-blue {
    width: 53.5rem;
    height: 53rem;
    background-color: #5b99f0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.text {
    width: 54rem;
    height: 50rem;
    position: absolute;
    top: 0;
    padding: 255px 50px;
    text-align: center;
    word-spacing: 1%;
}

.text3 {
    color: #0075f6;
    font-size: 80px;
    line-height: 1.2;
    top: 4px;
    font-family: "Poppins",Arial,sans-serif;
}

h1 {
    margin: 0 auto;
    padding: 0;
    font-size: 80px;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 3px;
}

h2{
    font-size: 40px;
}

#text4{
    color: #0075f6;
    font-size: 80px;
    font-family: 'Poppins',sans-serif;
}

.btn-custom {
    border: 1px solid #0075f6;
    padding: 5px 20px;
    margin: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #0075f6;
}

.mb-4 {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 100px;
    font-size: 40px;
    word-spacing: 5px;
    font-weight: 800;
    font-family: "Poppins",Arial,sans-serif;
}